<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xue.repository.dao.ACUserMapper">

  <insert id="addUser" parameterType="com.xue.entity.model.ACUser" >
      insert into ac_user(acIp,acName,team)
       values(#{acIp},#{acName},#{group})
  </insert>

    <delete id="clearAll" >
        delete from ac_user where 1=1
    </delete>

</mapper>