<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xue.repository.dao.NetdiskUserMapper">

  <insert id="addUser" parameterType="com.xue.entity.model.NetdistUser" >
      insert into netdisk_user(name,email,phone,datacenter,creattime,team,lastlogtime,state)
       values(#{name},#{email},#{phone},#{datacenter},#{creattime},#{group},#{lastlogtime},#{state})
  </insert>

    <delete id="clearAll" >
        delete from netdisk_user where 1=1
    </delete>

</mapper>